USE [master]
GO
/****** Object:  Database [LogoDB]    Script Date: 27.03.2022 01:26:02 ******/
CREATE DATABASE [LogoDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LogoDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\LogoDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LogoDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\LogoDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LogoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LogoDB]
GO
/****** Object:  StoredProcedure [dbo].[CreateCompany]    Script Date: 27.03.2022 01:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateCompany]
		@CompanyName VARCHAR(20),
		@CompanyCity VARCHAR(20)
AS
BEGIN
	INSERT INTO Company (CompanyName, CompanyCity) VALUES (@CompanyName, @CompanyCity)
END
GO
/****** Object:  StoredProcedure [dbo].[CreateUser]    Script Date: 27.03.2022 01:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateUser]
		@UserName VARCHAR(20),
		@UserSurname VARCHAR(20),
		@UserCompany INT
AS
BEGIN
	INSERT INTO Users (UserName,UserSurname,UserCompany) VALUES (@UserName,@UserSurname,@UserCompany)
END
GO
/****** Object:  Table [dbo].[Company]    Script Date: 27.03.2022 01:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Company](
	[CompanyId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [varchar](20) NULL,
	[CompanyCity] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 27.03.2022 01:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](20) NULL,
	[UserSurname] [varchar](20) NULL,
	[UserCompany] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([UserCompany])
REFERENCES [dbo].[Company] ([CompanyId])
GO
USE [master]
GO
